.aquarium-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.approve-button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  font-weight: bold;
}

.approve-button.invalid {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.approve-button.valid {
  background-color: green;
  color: white;
}
